﻿
@{
    ViewData["Title"] = "Tamagotchi API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Tamagotchi API</h1>
<p>Built by Juan Jalil. For running WebApp start the project Tamagotchi.WebApp</p>
<p>Processing Server :: Using <a href="/hangfire" target="_blank">Hangfire</a></p>
<ul>
    <li>
        <a href="/processor/start" target="_blank">Start</a>
    </li>
    <li>
        <a href="/processor/stop" target="_blank">Stop</a>
    </li>
    <li>
        <a href="/processor/executemanual" target="_blank">Execute one run manually</a>
    </li>
    <li>
        <a href="/hangfire" target="_blank">Status</a>
    </li>
</ul>
<p>List of API operations on <a href="/swagger" target="_blank">Swagger</a></p>

