<h1>Development notes</h1>
<p>Built by Juan Jalil</p>
<ul>
  <li>Authentication is not implemented, but the approach would be to use JSON Web Tokens <a href="https://jwt.io/introduction/">info here</a>.
  Login page will send a request to API with username+password and server return a JWT Token. The token is saved across the client calls and sent to API server
  via Authentication: Bearer [token]</li>
  <li>Since we don't have authentication, only the the name of the pet owner will be the way of loading and creating their pets. To view all pets: <a [routerLink]='["/all-pets"]'>click here</a></li>
</ul>
