<p *ngIf="!pets"><em>Loading your pets...</em></p>

<table class='table' *ngIf="pets">
  <thead>
    <tr>
      <th>Pet</th>
      <th>Pet Family</th>
      <th>Trainer</th>
      <th>Hunger Level</th>
      <th>Love Level</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pet of pets">
      <td>{{ pet.name }}</td>
      <td>{{ pet.petType.name }}</td>
      <td>{{ pet.person.name }}</td>
      <td>
        {{ pet.status[0]?.value || "N/A" }} / {{ pet.petType.config[0]?.maxLevel || "No config" }}
          <br />
          <button (click)="interact(1,1)">Feed Pet</button>
      </td>
      <td>
        {{ pet.status[1]?.value || "N/A" }} / {{ pet.petType.config[1]?.maxLevel || "No config" }}
        <br />
        <button (click)="interact(2,1)">Love Pet</button>
      </td>
    </tr>
  </tbody>
</table>
